
{{ $ := .root }}
{{ $page := .page }}
{{ $columns := $page.Params.design.columns | default "2" }}



{{ $author := "" }}
{{ if .author }}
  {{ $author = .author }}
{{ else }}
  {{ $author = $page.Params.author }}
{{end}}

{{ $type := "" }}
{{ if .type }}
  {{ $type = .type }}
{{ else }}
  {{ $type = $page.Params.type }}
{{end}}

{{$type_page_path := (printf "/blank_type/%s" $type)}}
{{$type_page :=site.GetPage $type_page_path}}
{{ $type_detail := $type_page.Params }}





{{ if ne $columns "1" }}


{{ if $type_detail.list}} 

{{ $type_page.Content | markdownify | emojify }}

{{else}}

<div class="col-12 col-lg-8">
<br> 
<div class="wrap-collabsible">
<!-- Title overview structure -->
    <!-- Main huge title -->
    <div id='overview-title'>
    <h1 style="color:#D30404;font-size:5.5em" class='overview-title-text' > 
    {{ $type_page.Title | markdownify | emojify }} 
    </h1> 
    </div>
     <!-- First subtitle -->
    <div id='overview-subtitle'>  
    <h2 style="color:#1E6EBE;font-size:2em" class = 'overview-subtitle-text'> {{ $type_detail.Subtitle }} 
    </h2>
    </div>
     <!-- Second subtitle -->
    <div id='overview-subsubtitle'> 
    <h2 style="color:#1960A9;font-size:1.7em" class ='overview-subtitle-text'> {{ $type_detail.Subsubtitle }} </h2>
    </div> 
     <!-- Links to my social media with icons -->
     <p> </p>
     <div class="overview-icons"> 
     <ul class="network-icon", aria-label="Social media links">
        {{ range $type_detail.social }}
        {{ $pack := or .icon_pack "fas" }}
        {{ $pack_prefix := $pack }}
        {{ if in (slice "fab" "fas" "far" "fal") $pack }}
          {{ $pack_prefix = "fa" }}
        {{ end }}
        {{ $link := .link }}
        {{ $scheme := (urls.Parse $link).Scheme }}
        {{ $target := "" }}
        {{ if not $scheme }}
          {{ $link = .link | relLangURL }}
        {{ else if in (slice "http" "https") $scheme }}
          {{ $target = "target=\"_blank\" rel=\"noopener\"" }}
        {{ end }}
            <li>
                <a style="color:#0E355D;font-size:1.75em" href="{{ $link | safeURL }}" {{ $target | safeHTMLAttr }} aria-label="{{ .icon }}" >
        <i class="{{ $pack }} {{ $pack_prefix }}-{{ .icon }}"></i>
                </a>
            </li>
        {{ end }}
         </ul>
        </div>
  {{if $type_detail.drop}}
  <input id="collapsible" class="toggle" type="checkbox">
  <label for="collapsible" class="lbl-toggle"> {{ $type_detail.drop | markdownify | emojify }} </label>
  <div class="collapsible-content">
    <div class="content-inner">
      <p> {{ $type_page.Content  | markdownify | emojify }}
      </p>
    </div>
  </div>
</div>
</input>

{{else}}

    <div id='overview-content'> <span style="color:#121212;font-size:1.2em"> 
    <br>
    {{ $type_page.Content }}
    </span>
    </div>
    
{{end}}
{{end}}
{{ else if $page.Title }}
  <div class="col-12">
    <h1 class='title'>{{ $page.Title | markdownify | emojify }}</h1>
    <p>{{ $type_page.Content }}</p>
  </div>
{{end}}