**.Rproj.user/
**.Rproj.user/*
*.Rhistory
*public
*.hugo_build.lock
.RData
.Ruserdata
.Rproj.user
**content/things_for_me_only/*
**resources/_gen/images/things_for_me_only/
**resources/_gen/
**.Rprofile
**themes/starter-academic/exampleSite/resources/