@font-face {
  font-family: 'icomoon';
  src: url('../fonts/icomoon.eot?mwe8bn');
  src: url('../fonts/icomoon.eot?mwe8bn#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?mwe8bn') format('truetype'),
    url('../fonts/icomoon.woff?mwe8bn') format('woff'),
    url('../fonts/icomoon.svg?mwe8bn#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"],
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-bluesky-app-1 .path1:before {
  content: "\e900";
  color: rgb(3, 12, 29);
}

.icon-bluesky-app-1 .path2:before {
  content: "\e901";
  margin-left: -1.3330078125em;
  color: rgb(1, 35, 73);
}

.icon-bluesky-app-1 .path3:before {
  content: "\e902";
  margin-left: -1.3330078125em;
  color: rgb(2, 20, 44);
}

.icon-bluesky-app-1 .path4:before {
  content: "\e903";
  margin-left: -1.3330078125em;
  color: rgb(2, 19, 43);
}

.icon-bluesky-app-1 .path5:before {
  content: "\e904";
  margin-left: -1.3330078125em;
  color: rgb(1, 37, 67);
}

.icon-bluesky-app-1 .path6:before {
  content: "\e905";
  margin-left: -1.3330078125em;
  color: rgb(1, 30, 66);
}

.icon-bluesky-app-1 .path7:before {
  content: "\e906";
  margin-left: -1.3330078125em;
  color: rgb(1, 28, 61);
}

.icon-bluesky-app-1 .path8:before {
  content: "\e907";
  margin-left: -1.3330078125em;
  color: rgb(2, 20, 44);
}

.icon-bluesky-app-1 .path9:before {
  content: "\e908";
  margin-left: -1.3330078125em;
  color: rgb(2, 19, 39);
}

.icon-bluesky-app-1 .path10:before {
  content: "\e909";
  margin-left: -1.3330078125em;
  color: rgb(1, 26, 57);
}

.icon-bluesky-app-1 .path11:before {
  content: "\e90a";
  margin-left: -1.3330078125em;
  color: rgb(1, 22, 44);
}

.icon-bluesky-app-1 .path12:before {
  content: "\e90b";
  margin-left: -1.3330078125em;
  color: rgb(1, 26, 54);
}

.icon-bluesky-app-1 .path13:before {
  content: "\e90c";
  margin-left: -1.3330078125em;
  color: rgb(3, 15, 39);
}

.icon-bluesky-app-1 .path14:before {
  content: "\e90d";
  margin-left: -1.3330078125em;
  color: rgb(1, 25, 52);
}

.icon-bluesky-app-1 .path15:before {
  content: "\e90e";
  margin-left: -1.3330078125em;
  color: rgb(3, 13, 33);
}

.icon-bluesky-app-1 .path16:before {
  content: "\e90f";
  margin-left: -1.3330078125em;
  color: rgb(3, 14, 37);
}

.icon-bluesky-app-1 .path17:before {
  content: "\e910";
  margin-left: -1.3330078125em;
  color: rgb(105, 219, 252);
}

.icon-bluesky-app-1 .path18:before {
  content: "\e911";
  margin-left: -1.3330078125em;
  color: rgb(76, 184, 253);
}

.icon-bluesky-app-1 .path19:before {
  content: "\e912";
  margin-left: -1.3330078125em;
  color: rgb(72, 178, 252);
}

.icon-bluesky-app-1 .path20:before {
  content: "\e913";
  margin-left: -1.3330078125em;
  color: rgb(102, 214, 252);
}

.icon-bluesky-app-1 .path21:before {
  content: "\e914";
  margin-left: -1.3330078125em;
  color: rgb(83, 193, 252);
}

.icon-bluesky-app-1 .path22:before {
  content: "\e915";
  margin-left: -1.3330078125em;
  color: rgb(93, 207, 252);
}

.icon-bluesky-app-1 .path23:before {
  content: "\e916";
  margin-left: -1.3330078125em;
  color: rgb(93, 208, 253);
}

.icon-bluesky-app-1 .path24:before {
  content: "\e917";
  margin-left: -1.3330078125em;
  color: rgb(80, 190, 252);
}

.icon-bluesky-app-1 .path25:before {
  content: "\e918";
  margin-left: -1.3330078125em;
  color: rgb(250, 249, 248);
}

.icon-bluesky-app-1 .path26:before {
  content: "\e919";
  margin-left: -1.3330078125em;
  color: rgb(86, 198, 253);
}

.icon-bluesky-app-1 .path27:before {
  content: "\e91a";
  margin-left: -1.3330078125em;
  color: rgb(247, 238, 247);
}

.icon-bluesky-app-1 .path28:before {
  content: "\e91b";
  margin-left: -1.3330078125em;
  color: rgb(247, 223, 231);
}

.icon-bluesky-app-1 .path29:before {
  content: "\e91c";
  margin-left: -1.3330078125em;
  color: rgb(243, 234, 247);
}

.icon-bluesky-app-1 .path30:before {
  content: "\e91d";
  margin-left: -1.3330078125em;
  color: rgb(235, 241, 252);
}

.icon-bluesky-app-1 .path31:before {
  content: "\e91e";
  margin-left: -1.3330078125em;
  color: rgb(76, 184, 253);
}

.icon-bluesky-app-1 .path32:before {
  content: "\e91f";
  margin-left: -1.3330078125em;
  color: rgb(224, 234, 249);
}

.icon-bluesky-app-1 .path33:before {
  content: "\e920";
  margin-left: -1.3330078125em;
  color: rgb(248, 249, 252);
}

.icon-bluesky-app-1 .path34:before {
  content: "\e921";
  margin-left: -1.3330078125em;
  color: rgb(56, 150, 238);
}

.icon-bluesky-app-1 .path35:before {
  content: "\e922";
  margin-left: -1.3330078125em;
  color: rgb(178, 225, 253);
}

.icon-bluesky-app-1 .path36:before {
  content: "\e923";
  margin-left: -1.3330078125em;
  color: rgb(132, 211, 252);
}

.icon-bluesky-app-1 .path37:before {
  content: "\e924";
  margin-left: -1.3330078125em;
  color: rgb(20, 143, 238);
}

.icon-bluesky-app-1 .path38:before {
  content: "\e925";
  margin-left: -1.3330078125em;
  color: rgb(247, 223, 231);
}

.icon-bluesky-app-1 .path39:before {
  content: "\e926";
  margin-left: -1.3330078125em;
  color: rgb(251, 241, 239);
}

.icon-bluesky-app-1 .path40:before {
  content: "\e927";
  margin-left: -1.3330078125em;
  color: rgb(115, 204, 247);
}

.icon-bluesky-app-1 .path41:before {
  content: "\e928";
  margin-left: -1.3330078125em;
  color: rgb(202, 228, 253);
}

.icon-bluesky-app-1 .path42:before {
  content: "\e929";
  margin-left: -1.3330078125em;
  color: rgb(251, 229, 223);
}

.icon-bluesky-app-1 .path43:before {
  content: "\e92a";
  margin-left: -1.3330078125em;
  color: rgb(229, 229, 252);
}

.icon-bluesky-app-1 .path44:before {
  content: "\e92b";
  margin-left: -1.3330078125em;
  color: rgb(229, 208, 227);
}

.icon-bluesky-app-1 .path45:before {
  content: "\e92c";
  margin-left: -1.3330078125em;
  color: rgb(207, 198, 229);
}

.icon-bluesky-app-1 .path46:before {
  content: "\e92d";
  margin-left: -1.3330078125em;
  color: rgb(143, 216, 252);
}

.icon-bluesky-app-1 .path47:before {
  content: "\e92e";
  margin-left: -1.3330078125em;
  color: rgb(132, 211, 252);
}

.icon-bluesky-app-1 .path48:before {
  content: "\e92f";
  margin-left: -1.3330078125em;
  color: rgb(143, 216, 252);
}

.icon-bluesky-app-1 .path49:before {
  content: "\e930";
  margin-left: -1.3330078125em;
  color: rgb(166, 209, 251);
}

.icon-bluesky-app-1 .path50:before {
  content: "\e931";
  margin-left: -1.3330078125em;
  color: rgb(4, 14, 36);
}

.icon-bluesky-app-1 .path51:before {
  content: "\e932";
  margin-left: -1.3330078125em;
  color: rgb(3, 99, 217);
}

.icon-bluesky-app-1 .path52:before {
  content: "\e933";
  margin-left: -1.3330078125em;
  color: rgb(7, 94, 201);
}

.icon-bluesky-app-1 .path53:before {
  content: "\e934";
  margin-left: -1.3330078125em;
  color: rgb(3, 110, 220);
}

.icon-bluesky-app-1 .path54:before {
  content: "\e935";
  margin-left: -1.3330078125em;
  color: rgb(6, 130, 236);
}

.icon-bluesky-app-1 .path55:before {
  content: "\e936";
  margin-left: -1.3330078125em;
  color: rgb(162, 164, 212);
}

.icon-bluesky-app-1 .path56:before {
  content: "\e937";
  margin-left: -1.3330078125em;
  color: rgb(3, 139, 239);
}

.icon-bluesky-app-1 .path57:before {
  content: "\e938";
  margin-left: -1.3330078125em;
  color: rgb(207, 187, 206);
}

.icon-bluesky-app-1 .path58:before {
  content: "\e939";
  margin-left: -1.3330078125em;
  color: rgb(5, 120, 228);
}

.icon-bluesky-app-1 .path59:before {
  content: "\e93a";
  margin-left: -1.3330078125em;
  color: rgb(123, 152, 217);
}

.icon-bluesky-app-1 .path60:before {
  content: "\e93b";
  margin-left: -1.3330078125em;
  color: rgb(174, 174, 215);
}

.icon-bluesky-app-1 .path61:before {
  content: "\e93c";
  margin-left: -1.3330078125em;
  color: rgb(14, 121, 217);
}

.icon-bluesky-app-1 .path62:before {
  content: "\e93d";
  margin-left: -1.3330078125em;
  color: rgb(138, 158, 216);
}

.icon-bluesky-app-1 .path63:before {
  content: "\e93e";
  margin-left: -1.3330078125em;
  color: rgb(99, 142, 208);
}

.icon-bluesky-app-1 .path64:before {
  content: "\e93f";
  margin-left: -1.3330078125em;
  color: rgb(4, 14, 36);
}

.icon-bluesky-app-1 .path65:before {
  content: "\e940";
  margin-left: -1.3330078125em;
  color: rgb(70, 135, 214);
}

.icon-bluesky-app-1 .path66:before {
  content: "\e941";
  margin-left: -1.3330078125em;
  color: rgb(80, 190, 254);
}

.icon-bluesky-app-1 .path67:before {
  content: "\e942";
  margin-left: -1.3330078125em;
  color: rgb(1, 26, 54);
}

.icon-bluesky-app-1 .path68:before {
  content: "\e943";
  margin-left: -1.3330078125em;
  color: rgb(92, 206, 253);
}

.icon-bluesky-app-1 .path69:before {
  content: "\e944";
  margin-left: -1.3330078125em;
  color: rgb(94, 202, 252);
}

.icon-bluesky-app-1 .path70:before {
  content: "\e945";
  margin-left: -1.3330078125em;
  color: rgb(2, 19, 43);
}

.icon-bluesky-app-1 .path71:before {
  content: "\e946";
  margin-left: -1.3330078125em;
  color: rgb(108, 177, 243);
}

.icon-bluesky-app-1 .path72:before {
  content: "\e947";
  margin-left: -1.3330078125em;
  color: rgb(152, 170, 225);
}

.icon-bluesky-app-1 .path73:before {
  content: "\e948";
  margin-left: -1.3330078125em;
  color: rgb(180, 192, 234);
}

.icon-bluesky-app-1 .path74:before {
  content: "\e949";
  margin-left: -1.3330078125em;
  color: rgb(150, 185, 240);
}

.icon-bluesky-app-1 .path75:before {
  content: "\e94a";
  margin-left: -1.3330078125em;
  color: rgb(166, 209, 251);
}

.icon-bluesky-app-1 .path76:before {
  content: "\e94b";
  margin-left: -1.3330078125em;
  color: rgb(166, 209, 251);
}

.icon-bluesky-app-1 .path77:before {
  content: "\e94c";
  margin-left: -1.3330078125em;
  color: rgb(73, 180, 253);
}

.icon-bluesky-app-1 .path78:before {
  content: "\e94d";
  margin-left: -1.3330078125em;
  color: rgb(2, 19, 43);
}

.icon-bluesky-app-1 .path79:before {
  content: "\e94e";
  margin-left: -1.3330078125em;
  color: rgb(3, 13, 30);
}

.icon-bluesky-app-1 .path80:before {
  content: "\e94f";
  margin-left: -1.3330078125em;
  color: rgb(246, 241, 248);
}

.icon-bluesky-app-1 .path81:before {
  content: "\e950";
  margin-left: -1.3330078125em;
  color: rgb(202, 228, 253);
}

.icon-bluesky-app-1 .path82:before {
  content: "\e951";
  margin-left: -1.3330078125em;
  color: rgb(154, 227, 253);
}

.icon-bluesky-app-1 .path83:before {
  content: "\e952";
  margin-left: -1.3330078125em;
  color: rgb(212, 248, 253);
}

.icon-bluesky-app-1 .path84:before {
  content: "\e953";
  margin-left: -1.3330078125em;
  color: rgb(154, 227, 253);
}

.icon-bluesky-app-1 .path85:before {
  content: "\e954";
  margin-left: -1.3330078125em;
  color: rgb(3, 21, 48);
}

.icon-bluesky-app-1 .path86:before {
  content: "\e955";
  margin-left: -1.3330078125em;
  color: rgb(80, 190, 252);
}

.icon-bluesky-app-1 .path87:before {
  content: "\e956";
  margin-left: -1.3330078125em;
  color: rgb(3, 21, 48);
}

.icon-bluesky-app-1 .path88:before {
  content: "\e957";
  margin-left: -1.3330078125em;
  color: rgb(88, 200, 253);
}

.icon-bluesky-app-1 .path89:before {
  content: "\e958";
  margin-left: -1.3330078125em;
  color: rgb(125, 211, 248);
}

.icon-bluesky-app-1 .path90:before {
  content: "\e959";
  margin-left: -1.3330078125em;
  color: rgb(88, 204, 253);
}

.icon-bluesky-app-1 .path91:before {
  content: "\e95a";
  margin-left: -1.3330078125em;
  color: rgb(3, 21, 48);
}

.icon-bluesky-app-1 .path92:before {
  content: "\e95b";
  margin-left: -1.3330078125em;
  color: rgb(178, 225, 253);
}

.icon-bluesky-app-1 .path93:before {
  content: "\e95c";
  margin-left: -1.3330078125em;
  color: rgb(178, 225, 253);
}

.icon-bluesky-app-1 .path94:before {
  content: "\e95d";
  margin-left: -1.3330078125em;
  color: rgb(132, 211, 252);
}

.icon-bluesky-app-1 .path95:before {
  content: "\e95e";
  margin-left: -1.3330078125em;
  color: rgb(178, 225, 253);
}

.icon-bluesky-app-1 .path96:before {
  content: "\e95f";
  margin-left: -1.3330078125em;
  color: rgb(74, 182, 253);
}

.icon-bluesky-app-1 .path97:before {
  content: "\e960";
  margin-left: -1.3330078125em;
  color: rgb(132, 211, 252);
}

.icon-bluesky-app-1 .path98:before {
  content: "\e961";
  margin-left: -1.3330078125em;
  color: rgb(94, 202, 252);
}

.icon-bluesky-app-1 .path99:before {
  content: "\e962";
  margin-left: -1.3330078125em;
  color: rgb(94, 202, 252);
}

.icon-bluesky-app-1 .path100:before {
  content: "\e963";
  margin-left: -1.3330078125em;
  color: rgb(132, 211, 252);
}

.icon-bluesky-app-1 .path101:before {
  content: "\e964";
  margin-left: -1.3330078125em;
  color: rgb(229, 208, 227);
}

.icon-bluesky-app-1 .path102:before {
  content: "\e965";
  margin-left: -1.3330078125em;
  color: rgb(247, 220, 216);
}

.icon-bluesky-app-1 .path103:before {
  content: "\e966";
  margin-left: -1.3330078125em;
  color: rgb(235, 218, 237);
}

.icon-bluesky-app-1 .path104:before {
  content: "\e967";
  margin-left: -1.3330078125em;
  color: rgb(251, 236, 214);
}

.icon-bluesky-app-1 .path105:before {
  content: "\e968";
  margin-left: -1.3330078125em;
  color: rgb(229, 229, 252);
}

.icon-bluesky-app-1 .path106:before {
  content: "\e969";
  margin-left: -1.3330078125em;
  color: rgb(224, 234, 249);
}

.icon-bluesky-app-1 .path107:before {
  content: "\e96a";
  margin-left: -1.3330078125em;
  color: rgb(44, 158, 249);
}

.icon-bluesky-app-1 .path108:before {
  content: "\e96b";
  margin-left: -1.3330078125em;
  color: rgb(20, 143, 238);
}

.icon-bluesky-app-1 .path109:before {
  content: "\e96c";
  margin-left: -1.3330078125em;
  color: rgb(82, 158, 238);
}

.icon-bluesky-app-1 .path110:before {
  content: "\e96d";
  margin-left: -1.3330078125em;
  color: rgb(102, 167, 238);
}

.icon-bluesky-app-1 .path111:before {
  content: "\e96e";
  margin-left: -1.3330078125em;
  color: rgb(82, 158, 238);
}

.icon-bluesky-app-1 .path112:before {
  content: "\e96f";
  margin-left: -1.3330078125em;
  color: rgb(82, 158, 238);
}

.icon-bluesky-app-1 .path113:before {
  content: "\e970";
  margin-left: -1.3330078125em;
  color: rgb(250, 236, 226);
}

.icon-bluesky-app-1 .path114:before {
  content: "\e971";
  margin-left: -1.3330078125em;
  color: rgb(251, 236, 214);
}

.icon-bluesky-app-1 .path115:before {
  content: "\e972";
  margin-left: -1.3330078125em;
  color: rgb(247, 220, 216);
}

.icon-bluesky-app-1 .path116:before {
  content: "\e973";
  margin-left: -1.3330078125em;
  color: rgb(248, 249, 252);
}

.icon-bluesky-app-1 .path117:before {
  content: "\e974";
  margin-left: -1.3330078125em;
  color: rgb(142, 176, 235);
}

.icon-bluesky-app-1 .path118:before {
  content: "\e975";
  margin-left: -1.3330078125em;
  color: rgb(99, 142, 208);
}

.icon-bluesky-app-1 .path119:before {
  content: "\e976";
  margin-left: -1.3330078125em;
  color: rgb(1, 103, 210);
}

.icon-bluesky-app-1 .path120:before {
  content: "\e977";
  margin-left: -1.3330078125em;
  color: rgb(39, 136, 227);
}

.icon-bluesky-app-1 .path121:before {
  content: "\e978";
  margin-left: -1.3330078125em;
  color: rgb(152, 170, 225);
}

.icon-bluesky-app-1 .path122:before {
  content: "\e979";
  margin-left: -1.3330078125em;
  color: rgb(231, 204, 219);
}

.icon-bluesky-app-1 .path123:before {
  content: "\e97a";
  margin-left: -1.3330078125em;
  color: rgb(229, 208, 227);
}

.icon-bluesky-app-1 .path124:before {
  content: "\e97b";
  margin-left: -1.3330078125em;
  color: rgb(217, 201, 223);
}

.icon-bluesky-app-1 .path125:before {
  content: "\e97c";
  margin-left: -1.3330078125em;
  color: rgb(193, 202, 236);
}

.icon-bluesky-app-1 .path126:before {
  content: "\e97d";
  margin-left: -1.3330078125em;
  color: rgb(189, 183, 218);
}

.icon-bluesky-app-1 .path127:before {
  content: "\e97e";
  margin-left: -1.3330078125em;
  color: rgb(136, 166, 227);
}

.icon-bluesky-app-1 .path128:before {
  content: "\e97f";
  margin-left: -1.3330078125em;
  color: rgb(203, 193, 222);
}

.icon-bluesky-app-1 .path129:before {
  content: "\e980";
  margin-left: -1.3330078125em;
  color: rgb(85, 197, 253);
}

.icon-bluesky-app-1 .path130:before {
  content: "\e981";
  margin-left: -1.3330078125em;
  color: rgb(4, 19, 45);
}

.icon-bluesky-app-1 .path131:before {
  content: "\e982";
  margin-left: -1.3330078125em;
  color: rgb(3, 21, 48);
}

.icon-bluesky-app-1 .path132:before {
  content: "\e983";
  margin-left: -1.3330078125em;
  color: rgb(202, 228, 253);
}

.icon-bluesky-app-1 .path133:before {
  content: "\e984";
  margin-left: -1.3330078125em;
  color: rgb(166, 228, 251);
}

.icon-bluesky-app-1 .path134:before {
  content: "\e985";
  margin-left: -1.3330078125em;
  color: rgb(132, 211, 252);
}

.icon-bluesky-app-1 .path135:before {
  content: "\e986";
  margin-left: -1.3330078125em;
  color: rgb(143, 216, 252);
}

.icon-bluesky-app-1 .path136:before {
  content: "\e987";
  margin-left: -1.3330078125em;
  color: rgb(128, 191, 250);
}

.icon-bluesky-app-1 .path137:before {
  content: "\e988";
  margin-left: -1.3330078125em;
  color: rgb(131, 178, 238);
}

.icon-bluesky-app-1 .path138:before {
  content: "\e989";
  margin-left: -1.3330078125em;
  color: rgb(169, 178, 227);
}

.icon-bluesky-app-1 .path139:before {
  content: "\e98a";
  margin-left: -1.3330078125em;
  color: rgb(193, 202, 236);
}

.icon-bluesky-app-1 .path140:before {
  content: "\e98b";
  margin-left: -1.3330078125em;
  color: rgb(208, 203, 236);
}

.icon-bluesky-app-1 .path141:before {
  content: "\e98c";
  margin-left: -1.3330078125em;
  color: rgb(146, 197, 250);
}

.icon-bluesky-app-1 .path142:before {
  content: "\e98d";
  margin-left: -1.3330078125em;
  color: rgb(184, 213, 251);
}

.icon-bluesky-app-1 .path143:before {
  content: "\e98e";
  margin-left: -1.3330078125em;
  color: rgb(250, 238, 234);
}

.icon-bluesky-app-1 .path144:before {
  content: "\e98f";
  margin-left: -1.3330078125em;
  color: rgb(84, 195, 252);
}

.icon-bluesky-app-1 .path145:before {
  content: "\e990";
  margin-left: -1.3330078125em;
  color: rgb(90, 206, 254);
}

.icon-bluesky-app-1 .path146:before {
  content: "\e991";
  margin-left: -1.3330078125em;
  color: rgb(105, 218, 253);
}

.icon-bluesky-app-1 .path147:before {
  content: "\e992";
  margin-left: -1.3330078125em;
  color: rgb(96, 211, 253);
}

.icon-bluesky-app-1 .path148:before {
  content: "\e993";
  margin-left: -1.3330078125em;
  color: rgb(245, 246, 246);
}

.icon-bluesky-app-1 .path149:before {
  content: "\e994";
  margin-left: -1.3330078125em;
  color: rgb(89, 201, 248);
}

.icon-bluesky-app-1 .path150:before {
  content: "\e995";
  margin-left: -1.3330078125em;
  color: rgb(241, 211, 223);
}

.icon-bluesky-app-1 .path151:before {
  content: "\e996";
  margin-left: -1.3330078125em;
  color: rgb(240, 235, 237);
}

.icon-bluesky-app-1 .path152:before {
  content: "\e997";
  margin-left: -1.3330078125em;
  color: rgb(250, 234, 207);
}

.icon-bluesky-app-1 .path153:before {
  content: "\e998";
  margin-left: -1.3330078125em;
  color: rgb(207, 198, 229);
}

.icon-bluesky-app-1 .path154:before {
  content: "\e999";
  margin-left: -1.3330078125em;
  color: rgb(247, 232, 197);
}

.icon-bluesky-app-1 .path155:before {
  content: "\e99a";
  margin-left: -1.3330078125em;
  color: rgb(248, 223, 211);
}

.icon-bluesky-app-1 .path156:before {
  content: "\e99b";
  margin-left: -1.3330078125em;
  color: rgb(125, 211, 248);
}

.icon-bluesky-app-1 .path157:before {
  content: "\e99c";
  margin-left: -1.3330078125em;
  color: rgb(245, 246, 246);
}

.icon-bluesky-app-1 .path158:before {
  content: "\e99d";
  margin-left: -1.3330078125em;
  color: rgb(174, 186, 233);
}

.icon-bluesky-app-1 .path159:before {
  content: "\e99e";
  margin-left: -1.3330078125em;
  color: rgb(83, 193, 252);
}

.icon-bluesky-app-1 .path160:before {
  content: "\e99f";
  margin-left: -1.3330078125em;
  color: rgb(30, 155, 250);
}

.icon-bluesky-app-1 .path161:before {
  content: "\e9a0";
  margin-left: -1.3330078125em;
  color: rgb(116, 168, 236);
}

.icon-bluesky-app-1 .path162:before {
  content: "\e9a1";
  margin-left: -1.3330078125em;
  color: rgb(116, 168, 236);
}

.icon-bluesky-app-1 .path163:before {
  content: "\e9a2";
  margin-left: -1.3330078125em;
  color: rgb(174, 186, 233);
}

.icon-bluesky-app-1 .path164:before {
  content: "\e9a3";
  margin-left: -1.3330078125em;
  color: rgb(150, 185, 240);
}

.icon-bluesky-app-1 .path165:before {
  content: "\e9a4";
  margin-left: -1.3330078125em;
  color: rgb(235, 218, 237);
}

.icon-bluesky-app-1 .path166:before {
  content: "\e9a5";
  margin-left: -1.3330078125em;
  color: rgb(217, 201, 223);
}

.icon-bluesky-app-1 .path167:before {
  content: "\e9a6";
  margin-left: -1.3330078125em;
  color: rgb(102, 167, 238);
}

.icon-bluesky-app-1 .path168:before {
  content: "\e9a7";
  margin-left: -1.3330078125em;
  color: rgb(208, 203, 236);
}

.icon-bluesky-app-1 .path169:before {
  content: "\e9a8";
  margin-left: -1.3330078125em;
  color: rgb(171, 193, 239);
}

.icon-bluesky-app-1 .path170:before {
  content: "\e9a9";
  margin-left: -1.3330078125em;
  color: rgb(116, 168, 236);
}

.icon-bluesky-app-1 .path171:before {
  content: "\e9aa";
  margin-left: -1.3330078125em;
  color: rgb(248, 249, 252);
}

.icon-bluesky-app-1 .path172:before {
  content: "\e9ab";
  margin-left: -1.3330078125em;
  color: rgb(159, 199, 245);
}

.icon-bluesky-app-1 .path173:before {
  content: "\e9ac";
  margin-left: -1.3330078125em;
  color: rgb(247, 223, 231);
}

.icon-bluesky-app-1 .path174:before {
  content: "\e9ad";
  margin-left: -1.3330078125em;
  color: rgb(3, 21, 48);
}

.icon-bluesky-app-1 .path175:before {
  content: "\e9ae";
  margin-left: -1.3330078125em;
  color: rgb(224, 234, 249);
}

.icon-bluesky-app-1 .path176:before {
  content: "\e9af";
  margin-left: -1.3330078125em;
  color: rgb(150, 185, 240);
}

.icon-bluesky-app-1 .path177:before {
  content: "\e9b0";
  margin-left: -1.3330078125em;
  color: rgb(116, 168, 236);
}

.icon-bluesky-app-1 .path178:before {
  content: "\e9b1";
  margin-left: -1.3330078125em;
  color: rgb(4, 13, 30);
}

.icon-bluesky-app-1 .path179:before {
  content: "\e9b2";
  margin-left: -1.3330078125em;
  color: rgb(251, 241, 239);
}

.icon-bluesky-app-1 .path180:before {
  content: "\e9b3";
  margin-left: -1.3330078125em;
  color: rgb(250, 249, 248);
}

.icon-bluesky-app-1 .path181:before {
  content: "\e9b4";
  margin-left: -1.3330078125em;
  color: rgb(252, 236, 228);
}

.icon-bluesky-app-1 .path182:before {
  content: "\e9b5";
  margin-left: -1.3330078125em;
  color: rgb(96, 211, 253);
}

.icon-bluesky-app-1 .path183:before {
  content: "\e9b6";
  margin-left: -1.3330078125em;
  color: rgb(96, 211, 253);
}

.icon-bluesky-app-1 .path184:before {
  content: "\e9b7";
  margin-left: -1.3330078125em;
  color: rgb(251, 247, 247);
}

.icon-bluesky-app-1 .path185:before {
  content: "\e9b8";
  margin-left: -1.3330078125em;
  color: rgb(166, 228, 251);
}

.icon-bluesky-app-1 .path186:before {
  content: "\e9b9";
  margin-left: -1.3330078125em;
  color: rgb(105, 218, 253);
}

.icon-bluesky-app-1 .path187:before {
  content: "\e9ba";
  margin-left: -1.3330078125em;
  color: rgb(96, 211, 253);
}

.icon-bluesky-app-1 .path188:before {
  content: "\e9bb";
  margin-left: -1.3330078125em;
  color: rgb(125, 224, 252);
}

.icon-bluesky-app-1 .path189:before {
  content: "\e9bc";
  margin-left: -1.3330078125em;
  color: rgb(178, 225, 253);
}

.icon-bluesky-app-1 .path190:before {
  content: "\e9bd";
  margin-left: -1.3330078125em;
  color: rgb(125, 224, 252);
}

.icon-bluesky-app-1 .path191:before {
  content: "\e9be";
  margin-left: -1.3330078125em;
  color: rgb(178, 225, 253);
}

.icon-bluesky-app-1 .path192:before {
  content: "\e9bf";
  margin-left: -1.3330078125em;
  color: rgb(249, 221, 224);
}

.icon-bluesky-app-1 .path193:before {
  content: "\e9c0";
  margin-left: -1.3330078125em;
  color: rgb(250, 236, 226);
}

.icon-bluesky-app-1 .path194:before {
  content: "\e9c1";
  margin-left: -1.3330078125em;
  color: rgb(247, 220, 216);
}

.icon-bluesky-app-1 .path195:before {
  content: "\e9c2";
  margin-left: -1.3330078125em;
  color: rgb(251, 229, 223);
}

.icon-bluesky-app-1 .path196:before {
  content: "\e9c3";
  margin-left: -1.3330078125em;
  color: rgb(250, 241, 224);
}

.icon-bluesky-app-1 .path197:before {
  content: "\e9c4";
  margin-left: -1.3330078125em;
  color: rgb(251, 229, 223);
}

.icon-bluesky-app-1 .path198:before {
  content: "\e9c5";
  margin-left: -1.3330078125em;
  color: rgb(166, 228, 251);
}

.icon-bluesky-app-1 .path199:before {
  content: "\e9c6";
  margin-left: -1.3330078125em;
  color: rgb(251, 241, 239);
}

.icon-bluesky-app-1 .path200:before {
  content: "\e9c7";
  margin-left: -1.3330078125em;
  color: rgb(250, 236, 226);
}